.main {
  margin-bottom: 10px;
}
.form form {
  display: flex;
  flex-direction: column;
}

.form form label,
.form form input,
.form form div.textarea {
  margin-bottom: 0.5rem;
}

.form form input {
  padding: 0.5rem;
  border: 1px solid lightgray;
}

.form form button {
  width: 10%;
  padding: 0.5rem;
  background: bisque;
  border: 1px solid bisque;
  cursor: pointer;
  transition: 0.5s;
}

.form form button:hover {
  background: rgb(253, 210, 156);
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1080px;
  }
}
